<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Danh mục</title>
  </head>
  <body>
    <h2>Danh mục sản phẩm</h2>
    <a th:href="@{/product-categories/create}">+ Thêm danh mục</a>

    <table border="1" cellpadding="6">
      <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Active</th>
        <th>Thao tác</th>
      </tr>
      <tr th:each="c : ${categories}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.active}"></td>
        <td>
          <a th:href="@{/product-categories/{id}/edit(id=${c.id})}">Sửa</a>
        </td>
      </tr>
    </table>
  </body>
</html>
