<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Thêm loại phòng</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
      "
    >
      <div>Xin chào, <b th:text="${#authentication.name}">user</b></div>

      <form th:action="@{/logout}" method="post" style="margin: 0">
        <button type="submit">Đăng xuất</button>
      </form>
    </div>
    <hr />

    <h2>Thêm loại phòng</h2>

    <p>
      <a th:href="@{/room-types}">← Quay lại loại phòng</a> |
      <a th:href="@{/rooms}">← Về phòng</a>
    </p>

    <form th:action="@{/room-types}" th:object="${roomType}" method="post">
      <div>
        <label>Tên loại phòng</label><br />
        <input type="text" th:field="*{name}" required />
      </div>

      <br />

      <div>
        <label>Giá/giờ</label><br />
        <input type="number" step="0.01" th:field="*{pricePerHour}" required />
      </div>

      <br />

      <div>
        <label>Mô tả</label><br />
        <input type="text" th:field="*{description}" />
      </div>

      <br /><br />

      <button type="submit">Lưu</button>
      <a th:href="@{/room-types}">Hủy</a>
    </form>
  </body>
</html>
